extends layout

block content

	#wrap-intro

		#top.fixed-size

			#intro

				#bande

					.head-title Lou-Anne Lacaille
					.head-title Ostéopathe à&nbsp;Beaune

				#intro-wrapper
					#presentation
						p.no-mrgn-top
							b Diplômée de l’Institut Supérieur d’Ostéopathie de Lyon (ISOstéo),
							| &nbsp;formation en 5 ans agréée par le ministère de la santé.
						p
							b Formée en périnatalité
							| &nbsp;pour la prise en charge des
							b &nbsp;nouveaux-nés
							| &nbsp;par Ostéonat et Ostéo Bébé à Paris.&nbsp;
							a(href="#formations") Toutes les formations
						p
							b Membre du syndicat des Ostéopathes de France
							| &nbsp;(UFOF), gage de qualité de pratique et de soin ainsi que d’un respect des principes éthiques envers les patients et la profession d’ostéopathe.

						p Travaille en collaboration avec <b>Elise Durand</b> et <b>Adrien de Sousa Pires</b> qui assurent les consultations au cabinet le mardi après-midi, mercredi matin, jeudi après-midi et samedi matin.

					#infos-wrapper
						#infos
							h3.no-mrgn Le cabinet

							.small
								p
									| Ouvert du
									b &nbsp;lundi
									| &nbsp;au
									b &nbsp;vendredi
									br
									| de 9h à 20h,
									br
									| et le <b>samedi</b> de 9h à 13h

								p
									b 18 rue Jacques de Molay
									br
									b 21200 Beaune

								p
									b Consultation sur rendez-vous
									br
									a(href="tel:+33380247447") 03 80 24 74 47
									br
									span#obf
										script.
											document.getElementById("obf").innerHTML="<n uers=\"znvygb:ybh-naar.ynpnvyyr@vfbfgrb.pbz\" gnetrg=\"_oynax\">ybh-naar.ynpnvyyr@vfbfgrb.pbz</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
										noscript
											span(style="unicode-bidi:bidi-override;direction:rtl;") moc.oetsosi@elliacal.enna-uol

								p Munissez-vous de vos examens complémentaires lors de la consultation.

							a(target="_blank",rel="nofollow",href="https://www.doctolib.fr/osteopathe/beaune/lou-anne-lacaille").rdv-button PRENDRE RDV


					#map-wrapper
						#map

	#mark

	#wrap-wrap-menu

		#wrap-menu.fixed-size

			#menu(role="menu")

				a#gotop(href="#top")
					img(src='images/go-top_arrow.svg')

				a#logo(href="#top")
					img(src='images/logo.svg')

				#buttons
					.section
						a(href='#losteopathie' role="menuitem")
							span.fleche
								include ../assets/images/fleche.svg
							span.sec-text L’ostéopathie
					.section
						a(href='#pour-qui' role="menuitem")
							span.fleche
								include ../assets/images/fleche.svg
							span.sec-text Pour&nbsp;qui&nbsp;?
					.section
						a(href='#quand-consulter' role="menuitem")
							span.fleche
								include ../assets/images/fleche.svg
							span.sec-text Et&nbsp;quand&nbsp;?
					#formations-btn.section
						a(href='#formations' role="menuitem")
							span.fleche
								include ../assets/images/fleche.svg
							span.sec-text Formations

	#content

		section#losteopathie

			#wrap-losteopathie-titre

				.fixed-size

					.titre

						h1 L’ostéopathie

			#wrap-losteopathie-subsec1

				.fixed-size

					.subsec1

						p C’est une thérapie naturelle fondée sur les principes de globalité du corps. Toute perte de mobilité des articulations, des muscles, des ligaments ou des viscères peut engendrer un déséquilibre qui peut affecter l’ensemble des structures composant le corps humain. L’ostéopathie s’emploie à déterminer et à traiter ces pertes de mobilités. Basée sur la capacité du corps à s’auto-équilibrer, elle appuie sa pratique sur une connaissance approfondie de l’anatomie, de la physiologie et de la pathologie.

			#wrap-losteopathie-subsec2

				.fixed-size

					.subsec2

						p Le but d’une séance est d’abord de retrouver la cause des symptômes grâce à un interrogatoire propre au diagnostic ostéopathique, et à l’étude approfondie des examens complémentaires du patient. L’ostéopathe détermine également les contre-indications de la thérapie du patient et établit ainsi un traitement adapté. Par le biais de tests palpatoires spécifiques, il explore le corps à la recherche des zones qui présentent des restrictions de mobilités susceptibles d’altérer l’équilibre du corps. Par l’usage de ses mains, il réharmonise ainsi l’ensemble des structures perturbées.
						br
						p Les techniques de l’ostéopathe sont adaptées à chaque patient en fonction de son âge, de sa morphologie ainsi que la zone du corps à corriger. Il va pour cela utiliser des pratiques structurelles, fonctionnelles, tissulaires, fasciales, crâniennes, viscérales et d’énergie musculaire.

		#wrap-pour-qui

			.fixed-size

				section#pour-qui

					.titre
						h1 L’ostéopathie, pour&nbsp;qui&nbsp;?

					.content

						.col

							.block
								h3 L’Adulte
								p L’ostéopathie permet de prévenir des douleurs en traitant les restrictions de mobilités qui déséquilibrent le bon et économique fonctionnement du corps. Ces restrictions ont pu s’installer suite à un traumatisme physique ou psychique, à un accident, à une maladie, à une mauvaise posture prolongée, à des contraintes de ports de charges lourdes, au stress, à une mauvaise alimentation, à des toxiques, à une chirurgie,…
								p Cette thérapie traite également les douleurs aigües ou chroniques avec des techniques adaptées.

							.block
								h3 La personne âgée
								p Être suivi le plus régulièrement possible par un ostéopathe permet de retrouver et de renforcer ses fonctions en travaillant sur la mobilité globale du corps. Un meilleur vieillissement est rendu possible en maintenant un bon état général, physique et psychique par une action de prévention tout au long de la vie. Le traitement perfectionne l’équilibre, diminue les douleurs et améliore ainsi la qualité de vie.
								p Il est également important de consulter en cas de chutes pour éviter qu’un déséquilibre persiste et entraine d’autres douleurs.

							.block
								h3 Le sportif
								p Un déséquilibre de l’état de santé se manifeste chez le sportif par des contractures, voir des douleurs chroniques qui vont altérer ses performances. En effet, par l’effort répété, des pertes de mobilités articulaires, musculaires, ligamentaires ou viscérales peuvent apparaître.
								p L’ostéopathe renforce ainsi la performance et le confort du sportif en ayant une action spécifique sur l’ensemble du corps et en traitant la cause des douleurs.
								p Il améliore le potentiel et la puissance musculaire, la souplesse articulaire et la capacité respiratoire. Le traitement permet également une meilleure concentration avant l’épreuve et une meilleure récupération après l’effort.

							.block
								h3 L’ostéopathie au travail
								p Le monde du travail est très souvent une cause de douleurs, que ce soit par une position contraignante, des gestes répétitifs, des ports de charges lourdes ou du stress. Ce sont autant de facteurs qui amènent des troubles musculo-squelettiques et des douleurs.
								p L’ostéopathie permet un retour à la mobilité articulaire et à l’équilibre du corps pour retrouver ainsi un confort au travail. Elle redonne au corps sa capacité d’adaptation à son environnement et aux contraintes qu’il subit. L’apparition des premières tensions	et des douleurs doit inciter à consulter un ostéopathe qui effectuera ainsi un bilan complet.

							.block
								h3 Le nourrisson
								p La vie intra-utérine et l’accouchement sont des étapes de la vie qui peuvent induire chez le nourrisson des contraintes, notamment crâniennes, dès la naissance. Des consultations ostéopathiques dès les premières semaines de vie sont intéressantes pour rétablir le confort du nouveau-né et ainsi éviter la persistance de dysfonctions qui peuvent se ressentir à l'âge adulte.

						.col

							.block
								h3 La femme enceinte
								p La grossesse induit la nécessité d’une adaptation permanente de l’ensemble de son organisme et de sa posture afin d’accueillir le développement du fœtus. Consulter un ostéopathe pendant une grossesse aide à aborder celle-ci de façon plus paisible et confortable.
								p À chaque étape de la grossesse, l’ostéopathe agit sur les symptômes correspondants. Le premier mois, un traitement va permettre d’optimiser les régulations neurovégétatives pour agir sur les nausées, vomissements, troubles du transit, lombalgies et irritabilité.
								p Sur le deuxième trimestre, l’ostéopathe agit sur les troubles vasculaires, les contractions, les lombalgies et les pubalgies.
								p Lors du troisième trimestre, l’ostéopathe opère sur l’équilibre de l’ensemble du corps pour une prise en charge efficace des douleurs, du reflux gastro-œsophagien, de la fatigue, de sciatique, du syndrome du canal carpien. Cela a également un intérêt majeur sur la préparation à l’accouchement en limitant les dysfonctions qui pourraient gêner son mécanisme.

							.block
								h3 La femme en post-partum
								p Dans la suite d’accouchement, l’ostéopathie aide au bien être de la mère. Son action multiple favorise par exemple le confort à l’allaitement, et permet le traitement des douleurs persistantes. Une prise en charge ostéopathique optimise également la rééducation périnéale.

							.block
								h3 L’enfant
								p L’enfant subit également des contraintes susceptibles d’engendrer des restrictions de mobilité et donc des déséquilibres du corps. En effet, elles peuvent être occasionnées par une chute, des traumatismes, du stress, une croissance trop rapide, une posture contraignante ou encore une maladie.
								p La dyslexie, l’hyperactivité, des troubles du sommeil sont autant de problèmes sur lesquels l’ostéopathie agit, par un suivi régulier, pour lui permettre de se détendre et d’avoir un meilleur confort.
								p L’ostéopathie peut également intervenir pour des troubles de la statique telles que la scoliose et la cyphose, qui sont les signes d’une mauvaise adaptation du corps, et améliorer le confort en traitant leurs causes. La collaboration avec d’autres professionnels de santé est cependant parfois nécessaire.
								p Lors de la pose d’appareils dentaires, l’ostéopathe, par un suivi régulier, aide le corps à s’adapter et diminue les symptômes douloureux telles que maux de tête, maux de dos, vertiges, troubles visuels, difficultés de concentration, modification de l’humeur…
								p À l’âge de l’apprentissage de la marche, des chutes, mêmes anodines, peuvent provoquer différents troubles : sommeil perturbé, affections ORL, excitation, énervement, colère, déviation de la colonne vertébrale, mauvaise statique, désordre postural… Il est donc, là aussi, intéressant de consulter.
								p Apprenez à observez votre enfant et à l’écouter, une plainte répétée doit vous alerter.

		section#quand-consulter

			#wrap-quand-titre

				.fixed-size

					.titre

						h1 Quand consulter&nbsp;?

			#wrap-quand-subsec1

				.fixed-size

					.subsec1
						.subtitle
							h2 À titre préventif

						p Il est intéressant d’avoir un suivi ostéopathique régulier pour préserver un bon équilibre et un bon fonctionnement économique de son corps. Ainsi, cela permet de prévenir des déséquilibres qui engendrent à long terme des douleurs aigües voir chroniques.

			#wrap-quand-subsec2

				.fixed-size

					.subsec2
						.subtitle
							h2 À titre curatif

						.content

							.col

								.block

									h3 Le système orthopédique et locomoteur
									p Entorses, lombalgies, dorsalgies, cervicalgies, tendinites, douleurs articulaires, scolioses, pubalgies, douleurs coccygiennes…

								.block

									h3 Le système neurologique
									p Névralgies cervico-brachiales, cruralgie, sciatiques, névralgies intercostales, névralgies d’Arnold, névralgies faciales…

								.block

									h3 Le système cardio-vasculaire
									p Troubles circulatoires des membres inférieurs, congestions veineuses, hémorroïdes, palpitations, oppressions…

								.block

									h3 Le système digestif
									p Ballonnements, hernies hiatales, flatulences, troubles hépatobiliaires, colites, constipations, ptôses, digestions difficiles, gastrites, acidités gastriques, remontées acides…

								.block

									h3 Le système O.R.L. et pulmonaire
									p Sinusites, vertiges,	troubles de l’équilibre, bourdonnements, céphalées, migraines, bronchites, asthmes, bronchiolites…

							.col

								.block

									h3 Le système neuro-végétatif
									p Etats dépressifs, hypernervosité, anxiété, stress, troubles du sommeil, spasmophilie,…

								.block

									h3 Les séquelles de traumatismes
									p Fractures, entorses, chutes, luxations, accidents de sports, accidents de voitures…
									p L’ostéopathie permet aussi de retrouver la cause de douleurs inexpliquées, séquelles de traumatismes physiques ou émotionnels, anciens, ou qui n’ont pas encore été identifiés par le patient.

								.block

									h3 Pour le nourrisson
									p Césarienne, traction de tête, utilisation de forceps, ventouses ou spatules, cordon enroulé autour du cou lors de l’accouchement, grossesse gémellaire, présentation par le siège, par le front ou par la face, prématuré, réanimation du bébé après l’accouchement, accouchement sous péridurale, régurgitations, du mal à téter, très longues tétées, du mal à la mise au sein, rotation préférentielle de tête, tête asymétrique, beaucoup de pleurs, coliques, ne digère pas, se tortille et pleure, du mal à dormir, troubles ORL à répétitions tels que des otites, bronchites à répétitions, respiration bruyante, difficultés à tenir sa tête, se cambre vers l’arrière, crispations, sursauts, petits tremblements, strabisme…

		section#formations

			#wrap-formations-titre

				.fixed-size

					.titre

						h1 Formations

			#wrap-formations-subsec2

				.fixed-size

					.subsec2
						.content

							.col

								.block
									h3 2023
									p Ostéopathie et Orthodontie – Boto, Nicette Sergueef

								.block
									h3 2021
									p Ostéopathie tissulaire – Formation Tricot

								.block
									h3 2019
									p D.U. Perception, Action et Troubles des Apprentissages (PATA) - Université de Bourgogne Franche-Comté (UBFC)

								.block
									h3 2018
									p Formée en périnatalité pour la prise en charge des nouveaux-nés – Ostéo Bébé

								.block
									h3 2017
									p Ostéopathie et Energétique : Médecine traditionnelle chinoise – ISOstéo

							.col

								.block
									h3 2022
									p Ostéopathie et Infertilité - ISOstéo

								.block
									h3 2020
									p Formée en périnatalité pour la prise en charge des nouveaux-nés – Ostéo Bébé

								.block
									h3 2019
									p Formée en périnatalité pour la prise en charge des nouveaux-nés – Ostéo Bébé

								.block
									h3 2017
									p Ostéopathie et Posturologie

								.block
									h3 2016
									p Formée en périnatalité pour la prise en charge des nouveaux-nés, femmes enceintes et femmes en post-partum – Ostéonat
		#wrap-footer

			.fixed-size

				#footer

					#obf2
						script.
							document.getElementById("obf2").innerHTML="<n uers=\"znvygb:ybh-naar.ynpnvyyr@vfbfgrb.pbz\" gnetrg=\"_oynax\"><vzt vq=\"ybh\" fep=\"vzntrf/cbegenvg.cat\"/><vzt vq=\"ybh-ubire\" fep=\"vzntrf/cbegenvg-ubire.cat\"/></n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
						noscript
							span(style="unicode-bidi:bidi-override;direction:rtl;") moc.oetsosi@elliacal.enna-uol

					.block-foot
						b Lou-Anne Lacaille
						br
						b Ostéopathe à Beaune
						a(target="_blank",rel="nofollow",href="https://www.doctolib.fr/osteopathe/beaune/lou-anne-lacaille").rdv-button PRENDRE RDV

					.block-foot
						.small
							p
								| Ouvert du
								b &nbsp;lundi
								| &nbsp;au
								b &nbsp;vendredi
								br
								| de 9h à 20h
								br
								| et le <b>samedi</b> de 9h à 13h
							br
							p
								b 18 rue Jacques de Molay
								br
								b 21200 Beaune
							br
							span.credits
								| Créa :&nbsp;
								a(href="http://maison-solide.fr",target="_blank") maison-solide.fr

					.block-foot
						.small
							p
								.b téléphone
								a(href="tel:+33380247447") 03 80 24 74 47
								br
								.b email
								span#obf3
									script.
										document.getElementById("obf3").innerHTML="<n uers=\"znvygb:ybh-naar.ynpnvyyr@vfbfgrb.pbz\" gnetrg=\"_oynax\">ybh-naar.ynpnvyyr@vfbfgrb.pbz</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
									noscript
										span(style="unicode-bidi:bidi-override;direction:rtl;") moc.oetsosi@elliacal.enna-uol
								br
								.b facebook
								a(href='https://www.facebook.com/louannelacailleosteopathebeaune') louannelacailleosteopathebeaune
								br
								br
								- var year = new Date().getFullYear();
								span#copyright= '© Lou-Anne Lacaille '+year
								br
								br
								br
								span.credits
									| Dev :&nbsp;
									a(href="http://francoisrisoud.com",target="_blank") francoisrisoud.com
