doctype html
html(lang='fr')
	head

		title= title

		link(rel='stylesheet', href='/stylesheets/style.css')

	body(style='background-color:#37F')

		#wrap-intro

			.fixed-size

				#intro

					#bande

						.head-title Lou-Anne Lacaille
						.head-title Ostéopathe à Beaune
						.clear

					.sep

					p
						b Retrouvez aussi Lou-Anne Lacaille sur :
					ul
						li
							a(href="http://www.nososteopathes.com") NosOsteopathe.com, site de recherche d'ostéopathes avec recommandations de Clients

